<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>番剧推荐系统</title>
</head>

    <body background="static/fanju2.jpeg">
<!--    <div style="font-size: xxx-large;">番剧推荐系统</div>-->
    <p style="text-align:center;font-size: 100px">番剧推荐系统</p>
        <dir >
            <form name='input' action='/search' method='post'>
                <br/><br/>请输入用户名<br>
                <input type='text' name='user_id'/><br><br>
                <input type='submit' value='推荐'/>
            </form>
        </dir>
    </body>

</html>